// who we are section

.whoWeAre {
  padding: 125px 0;
  overflow: hidden;

  .whoWeAreWrapper {

    max-width: 1256px;
    margin: var(--container-gap);
  }

}

.whoWeAreTitle {
  color: #FFF;
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  /* 111.111% */
  letter-spacing: -1.44px;
  text-align: center;
  margin-bottom: 96px;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  gap: 80px;
  max-width: 1256px;
  height: 640px;
  margin: 0 auto;
  padding: 40px 40px 40px 0px;
  border-radius: 50px;
  background: #2D3035;
  justify-content: space-between;

  &+.sliderWrapper {
    margin-top: 96px;
  }

  .infoBlk {
    max-width: 465px;
    padding-left: 80px;
    height: 100%;
    position: relative;

    .buttonIcon {
      width: 64px;
      height: 64px;
      margin-bottom: 90px;
      pointer-events: none;
    }

    .title {
      color: #FFF;
      font-family: "Work Sans", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: -0.72px;
      margin-bottom: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

    }

    .description {
      color: #D7D8D9;
      font-family: "Work Sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;

    }

    .counters {
      color: #FFF;
      font-family: "Work Sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      position: absolute;
      bottom: 0;
      left: 80px;
    }


  }

  .infoImage {
    position: relative;
    width: 540px;
    height: 560px;
    border-radius: 40px;
    overflow: hidden;
    margin-left: 40px;

    img {
      object-fit: cover;
    }
  }
}

.buttonAction {
  min-width: 238px;
  height: 64px;
  margin-top: 40px;

  svg {
    margin-left: 16px;
    transition: transform 0.3s ease-out;
    animation: none;

    path {
      stroke: #fff;
    }
  }

  &:hover svg {
    animation: hoverAnimation 1s infinite alternate;

    path {
      stroke: #000;
    }
  }

  @keyframes hoverAnimation {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(4px);
    }
  }
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 640px;
  padding: 0;
  position: relative;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-x;
  margin-top: calc(var(--slide-spacing) * -1);
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: column;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-height: 0;
  padding-top: var(--slide-spacing);
  position: relative;
}

.embla__slide__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: calc(var(--slide-spacing) + 0.6rem);
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}

.embla__slide__number>span {
  color: var(--brand-primary);
  background-image: linear-gradient(45deg,
      var(--brand-primary),
      var(--brand-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



.wwrDots {
  z-index: 1;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // @media (max-width:1440px) {
  //   left: 4%;
  // }

  .wwrDot {
    -webkit-appearance: none;
    background-color: #ccc;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 120px;
    width: 10px;
    border-radius: 0px 10px 10px 0px;
    background: rgba(255, 255, 255, 0.10);

    &.wwrDotActive {
      border-radius: 0px 10px 10px 0px;
      background: #FFF;
    }
  }
}


@media (max-width: 992px) {
  .embla {
    --slide-height: 1000px
  }

  .whoWeAreTitle {
    font-size: 50px;
  }

  .sliderWrapper {
    flex-direction: column;
    max-width: 100%;
    height: initial;
    padding: 40px;
    gap: 20px;

    .infoBlk {
      order: 2;
      padding-left: 0;
      max-width: 100%;

      .button {
        margin-bottom: 16px;
      }

      .title {
        font-size: 24px;
        margin-bottom: 16px;
        line-height: 32px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .description {
        font-size: 18px;
        line-height: 160%;
        margin-bottom: 78px;

      }

      .counters {
        left: 0;
        bottom: 0;
      }


    }

    .infoImage {
      order: 1;
      height: 440px;
      width: 100%;
    }
  }
}



@media (max-width: 767px) {
  .whoWeAre {
    padding: 96px 0;
  }

  .whoWeAreTitle {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 32px;
  }

  .embla {
    --slide-height: 900px
  }

  .sliderWrapper {
    padding: 20px;

    .infoImage {
      order: 1;
      // height: 300px;
    }

    .infoBlk {
      .counters {
        bottom: 10px;
      }

    }
  }

}


@media (max-width: 767px) {}