.getStatedWrapper {
    border-radius: 40px;
    background: #2A2C74;
    padding: 96px 0;
    width: 100%;
    position: relative;
}

.getStatedContainer {
    max-width: var(--container-width);
    margin: var(--container-gap);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 500px;
}

.getStatedBannerImage {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
}

.getStatedContentWrapper {
    width: 40%;
    position: relative;
    z-index: 1;
}

.getStatedInfoBlock {
    max-width: 430px;

    .title {
        color: #ffffff;
        font-family: "Work Sans", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        /* 116.667% */
        letter-spacing: -0.72px;
    }

    .description {
        margin-top: 24px;
        color: #ffffff;
        font-family: "Work Sans", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    .playButton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 45px;
        margin-top: 48px;

        .button {
            height: 64px;
            width: 194px;

            &:hover {
                svg path {
                    fill: #2A2C74
                }
            }

            svg {
                margin-right: 16px;
            }
        }

    }
}