.mainFooter {
    padding: 120px 0 120px;
    background: #333333;
    background-image: url('/images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;

}

.mainFooterContainer {
    max-width: var(--container-width);
    margin: var(--container-gap);
}

.socialmedia {
    gap: 8px;

    button:hover svg path {
        fill: #000;
    }
}

.subscribeBtn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: calc(50% - 25px);
    transition: .3s ease all;

    svg {
        transition: .3s ease all;

    }

    &:hover {
        svg {
            transform: translateX(4px);
        }
    }

}


.footerLinkWrap {
    display: flex;
    max-width: 912px;
    flex: 1;
    justify-content: space-between;
    padding-left: 50px;
}

.footerLinkWrapInr {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerLinkHeading {
    color: #FFF;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.133px;
    text-transform: uppercase;
}

.footerLinks {
    color: #FFF;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.133px;
    opacity: 0.6;
    position: relative;
    transition: .3s ease all;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &.active {
        opacity: 1;
    }
}

.footerLinkActive {
    opacity: 1;
    padding-left: 20px;

    &::after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50px;
        display: inline-block;
        background: #fff;
        position: absolute;
        top: calc(50% - 4px);
        left: 0;
    }
}

.heroText {
    color: #FFF;
    font-family: "Work Sans", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.256px;
    max-width: 450px;
    text-align: center;
    position: relative;
    right: 18%;

}

.logoAndTextWrapper {
    display: flex;
    justify-content: space-between;

}


.playButton {
    display: flex;
    flex-direction: column;
    gap: 45px;

    .button {
        height: 64px;
        width: 194px;

        svg {
            margin-right: 16px;
            width: 24px;
            height: 24px;
        }

        &:hover {
            svg path {
                fill: #2A2C74
            }
        }


    }

}

@media (max-width:1220px) {
    .mainFooterContainer {
        &>div[class*="justify-between"] {
            flex-direction: column;

            &+div[class*="justify-between"] {
                margin-top: 20px;
            }

            div[class*="heroText"] {
                margin-top: 20px;
            }

            div[class*="socialmedia"] {
                margin-top: 1rem;

                &+div[class*="mt-16"] {
                    margin-top: 20px;
                }

                &~div[class*="mt-8"] {
                    display: none;
                }
            }

        }

    }

    .footerLinkWrap {
        margin-top: 40px;
        padding-left: 0;
    }
}

@media (max-width:767px) {
    .mainFooterContainer {
        &>div[class*="justify-between"] {

            &+div[class*="justify-between"] {}

            div[class*="heroText"] {
                font-size: 20px;
            }

            div[class*="socialmedia"] {

                &+div[class*="mt-16"] {

                    [class*="w-[300px]"] {
                        width: 100%;
                    }
                }

            }

        }

    }

    .footerLinkWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footerLinkWrapInr {
        gap: 16px;

        &+.footerLinkWrapInr {
            margin-top: 48px;

        }
    }


}