.mapWrapper {
    height: 800px;
    border-radius: 43px;
    background: linear-gradient(90deg, #000 52.65%, rgba(0, 0, 0, 0) 100%);
    background-image: url('/images/map-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}