// who we are section

.whoWeAre {
  padding: 125px 0;
  overflow: hidden;

  .whoWeAreWrapper {

    max-width: var(--container-width);
    margin: 0 auto;
  }

}

.whoWeAreTitle {
  color: #FFF;
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  /* 111.111% */
  letter-spacing: -1.44px;
  text-align: center;
  margin-bottom: 96px;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  gap: 80px;
  max-width: 1256px;
  height: 640px;
  margin: 0 auto;
  padding: 40px 40px 40px 0px;
  border-radius: 50px;
  background: #2D3035;
  justify-content: space-between;

  .infoBlk {
    max-width: 465px;
    padding-left: 80px;
    height: 100%;
    position: relative;

    .button {
      width: 64px;
      height: 64px;
      margin-bottom: 90px;
    }

    .title {
      color: #FFF;
      font-family: "Work Sans", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: -0.72px;
      margin-bottom: 16px;
    }

    .description {
      color: #D7D8D9;
      font-family: "Work Sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }

    .counters {
      color: #FFF;
      font-family: "Work Sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      position: absolute;
      bottom: 0;
      left: 80px;
    }


  }

  .infoImage {
    position: relative;
    width: 540px;
    height: 560px;
    border-radius: 40px;
    overflow: hidden;
  }
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 640px;
  padding: 0;
  position: relative;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-x;
  margin-top: calc(var(--slide-spacing) * -1);
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: column;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-height: 0;
  padding-top: var(--slide-spacing);
  position: relative;
}

.embla__slide__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: calc(var(--slide-spacing) + 0.6rem);
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}

.embla__slide__number>span {
  color: var(--brand-primary);
  background-image: linear-gradient(45deg,
      var(--brand-primary),
      var(--brand-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



.wwrDots {
  z-index: 1;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 142px;
  right: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wwrDot {
    -webkit-appearance: none;
    background-color: #ccc;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 120px;
    width: 10px;
    border-radius: 0px 10px 10px 0px;
    background: rgba(255, 255, 255, 0.10);

    &.wwrDotActive {
      border-radius: 0px 10px 10px 0px;
      background: #FFF;
    }
  }
}